<a href="https://colab.research.google.com/github/chrisnjw/Chris_Portfolio_DS/blob/master/Credit_card_fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [3]:
# Printing the first five row of the data set
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [4]:
# Printing the last five row of the data set
credit_card_data.tail()

         Time        V1        V2        V3  ...       V27       V28  Amount  Class
114957  73690 -2.197480  1.982629  0.259502  ... -0.895134  0.164611    9.51    0.0
114958  73690 -2.197480  1.982629  0.259502  ... -0.895134  0.164611    9.51    0.0
114959  73690  1.255655  0.293362  0.288616  ... -0.028586  0.029014    1.79    0.0
114960  73690  1.270638 -0.089535 -0.990690  ... -0.131651 -0.024591   75.00    0.0
114961  73691  1.295784  0.049457 -1.301814  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [5]:
# Dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114962 entries, 0 to 114961
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    114962 non-null  int64
 1   V1      114962 non-null  float64
 2   V2      114962 non-null  float64
 3   V3      114962 non-null  float64
 4   V4      114962 non-null  float64
 5   V5      114962 non-null  float64
 6   V6      114962 non-null  float64
 7   V7      114962 non-null  float64
 8   V8      114962 non-null  float64
 9   V9      114962 non-null  float64
 10  V10     114962 non-null  float64
 11  V11     114962 non-null  float64
 12  V12     114961 non-null  float64
 13  V13     114961 non-null  float64
 14  V14     114961 non-null  float64
 15  V15     114961 non-null  float64
 16  V16     114961 non-null  float64
 17  V17     114961 non-null  float64
 18  V18     114961 non-null  float64
 19  V19     114961 non-null  float64
 20  V20     114961 non-null  float64
 21  V21     114961 non-null  float64
 22  V22     114961 non-null  float64
 23  V23     114961 non-null  float64
 24  V24     114961 non-null  float64
 25  V25     114961 non-null  float64
 26  V26     114961 non-null  float64
 27  V27     114961 non-null  float64
 28  V28     114961 non-null  float64
 29  Amount  114961 non-null  float64
 30  Class   114961 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 27.2 MB

In [6]:
# Checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# Replacing the null value with empty string
credit_card_data = credit_card_data.fillna('')

In [8]:
# Double checking for whether there is any missing value
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# Distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    114719
1.0       242
            1
Name: Class, dtype: int64

This dataset is highly unbalanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [10]:
# Separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0.0]
fraud = credit_card_data[credit_card_data.Class == 1.0]

In [11]:
print(legit.shape)
print(fraud.shape)

(114719, 31)
(242, 31)

In [12]:
# Statistical measures of the data
legit.Amount.describe()

count     114719.0
unique     21006.0
top            1.0
freq        4732.0
Name: Amount, dtype: float64

In [14]:
# Statustucal measures of the data
fraud.Amount.describe()

count     242.0
unique    118.0
top         1.0
freq       72.0
Name: Amount, dtype: float64

In [15]:
# compare the values for both transaction
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...        V9       V10       V11
Class                                    ...
0.0    46095.931415 -0.242322 -0.023224  ... -0.063634 -0.005629  0.220439
1.0    39270.280992 -5.942308  4.133122  ... -2.723048 -5.928648  4.288542
       73691.000000  1.295784  0.049457  ... -0.075014 -0.221156  0.131691

[3 rows x 12 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions 
and Fraudulent Transactions

Number of Fraudulent Transactions --> 242

In [17]:
legit_sample = legit.sample(n = 242)

Concatenating two DataFrames

In [18]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [19]:
new_dataset.head()

         Time        V1        V2        V3  ...        V27        V28  Amount  Class
75926   56311  1.244712 -1.394011 -0.020311  ...  0.0287358  0.0314749      60      0
24332   33179 -1.750985  1.321066 -1.085649  ...  0.0266927  -0.335486  655.98      0
75666   56189 -1.374949  0.364229  2.158245  ...  -0.670881  -0.597252    9.67      0
110101  71678 -1.417264  1.550366  0.624611  ...  -0.340388  -0.049865    10.2      0
114207  73380  0.366938 -0.684030  0.336175  ... -0.0901112   0.100511  418.35      0

[5 rows x 31 columns]

In [20]:
new_dataset.tail()

         Time        V1        V2        V3  ...        V27       V28  Amount  Class
108258  70828  0.196707  1.189757  0.704882  ...   0.135215  0.257315    0.76      1
108708  71033 -3.170818  0.185735 -3.399852  ...   0.859282  0.225924   426.4      1
111690  72327 -4.198735  0.194121 -3.917586  ...    1.24941 -0.131525   238.9      1
112840  72824 -1.111495 -0.257575  2.250210  ...  0.0267622 -0.358335   45.03      1
114271  73408 -2.869795  1.335667 -1.009530  ...   0.349191  0.198862   16.48      1

[5 rows x 31 columns]

In [21]:
new_dataset['Class'].value_counts()

1.0    242
0.0    242
Name: Class, dtype: int64

In [22]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...        V9       V10       V11
Class                                    ...
0.0    45786.772727 -0.146175 -0.000282  ... -0.088850 -0.085983  0.270130
1.0    39270.280992 -5.942308  4.133122  ... -2.723048 -5.928648  4.288542

[2 rows x 12 columns]

Splitting the data into Features and Targets

In [32]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']
Y=Y.astype('int')

In [33]:
print(X)

         Time        V1        V2  ...        V27        V28  Amount
75926   56311  1.244712 -1.394011  ...  0.0287358  0.0314749      60
24332   33179 -1.750985  1.321066  ...  0.0266927  -0.335486  655.98
75666   56189 -1.374949  0.364229  ...  -0.670881  -0.597252    9.67
110101  71678 -1.417264  1.550366  ...  -0.340388  -0.049865    10.2
114207  73380  0.366938 -0.684030  ... -0.0901112   0.100511  418.35
...       ...       ...       ...  ...        ...        ...     ...
108258  70828  0.196707  1.189757  ...   0.135215   0.257315    0.76
108708  71033 -3.170818  0.185735  ...   0.859282   0.225924   426.4
111690  72327 -4.198735  0.194121  ...    1.24941  -0.131525   238.9
112840  72824 -1.111495 -0.257575  ...  0.0267622  -0.358335   45.03
114271  73408 -2.869795  1.335667  ...   0.349191   0.198862   16.48

[484 rows x 30 columns]

In [34]:
print(Y)

75926     0
24332     0
75666     0
110101    0
114207    0
         ..
108258    1
108708    1
111690    1
112840    1
114271    1
Name: Class, Length: 484, dtype: int64

Split the data into Training data & Testing data

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [36]:
print(X.shape, X_train.shape, X_test.shape)

(484, 30) (387, 30) (97, 30)

Model Training

Logistic Regression

In [37]:
model = LogisticRegression()

In [38]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

Accuracy Score

In [39]:
# Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training Data {}'.format(training_data_accuracy))

Accuracy on Training Data 0.9431524547803618

In [40]:
# Accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score on Test Data : {}'.format(test_data_accuracy))

Accuracy score on Test Data : 0.9381443298969072